<div class="row" style="width: 500px; margin: auto">
  <div class="col-md-12">
    <h3 style="display: flex; justify-content: center">Login</h3>
    <form>
      <div class="mb-3">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="userName"
          name="userName"
        />
      </div>
      <div class="mb-3">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="password"
          name="password"
        />
      </div>

      <div class="my-3">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="LoginUserWithEffect()"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
