<div class="row" style="width: 500px; margin: auto">
  <div class="col-md-12">
    <h3 style="display: flex; justify-content: center">Register</h3>
    <form>
      <div class="mb-3">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="userName"
          name="userName"
        />
      </div>
      <div class="mb-3">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="name"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="password"
          name="password"
        />
      </div>
      <div class="mb-3">
        <label>Role</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="role"
          name="role"
        />
      </div>
      <div class="my-3">
        <button type="submit" class="btn btn-primary" (click)="PostUser()">
          Register
        </button>
      </div>
    </form>
    <p>{{ userName }} {{ name }}</p>
  </div>
</div>
